/*
 *  jShamsul.com Main Style
 */

// ------------------------------------------------
// -- reseting styles -----------------------------
@import "reset.less";

// ------------------------------------------------
// -- variables and mixins ------------------------
@import "variables.less";
@import "mixins.less";

// ------------------------------------------------
// -- local variables -----------------------------
@fontSerif: "TeX Gyre Schola","Georgia","Bitstream Charter","Century Schoolbook L","Liberation Serif","Times",serif;
@fontSans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@monospace: monospace, sans-serif;

@textcolor: #333;
@twittercolor: #31c5f6;
@facebookcolor: #3b5997;
@link: #336699;
@linkhover: #ff0086;

// ------------------------------------------------
// -- local mixins --------------------------------
.raleway_font {
  font-family: 'Raleway', @sansFontFamily;
  font-weight: 400;
  text-decoration: none;
}

// ------------------------------------------------
// -- type face -----------------------------------
@font-face {
  font-family: 'Goudy';
  src: url('../font/goudy/GoudyStM-webfont.eot');
  src: url('../font/goudy/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/goudy/GoudyStM-webfont.woff') format('woff'),
       url('../font/goudy/GoudyStM-webfont.ttf') format('truetype'),
       url('../font/goudy/GoudyStM-webfont.svg#goudyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ------------------------------------------------
// -- layout --------------------------------------
html { }
html, body {
  color: @textcolor;
  text-align: center;
  font-family: 'Goudy', @fontSans;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  height: auto;
  background-color: #f3f3f3;
  padding: 0px;
  margin: 0px;
}
#fader {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}


// -------------------------------------------------
// -- navigation container -------------------------
.header-container {
  .clearfix;
  position: fixed;
  left: 0; right: 0;
  a {
    .raleway_font;
    color: @grayLighter;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      color: @white;
    }
  }
  .logo-container {
    background-color: #111;
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 24px;
    .clearfix;
    .logo { 
      font-size: 18px;
      display: block;
      width: 200px;
      float: left;
    }
    .button-left { margin-right: 10px; float: left; }
    .button-right { float: right; }
    #openSideNavi {  
      display: none;
      visibility: hidden;
    }
  }
  ul.navigation {
    background-color: #222;
    display: none;
    text-align: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      //border-bottom: 1px solid #333;
      a {
        padding: 15px 25px 15px 25px;
        display: block;
      }
    }
  }
}
.menu-icon { display: none; }

// --------------------------------------------------
// -- content container -----------------------------
.content-container {
  padding-top: 30px;
}

// --------------------------------------------------
// -- info container --------------------------------
.info-container {
  .clearfix;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  .profile-pic {
    width: 80px;
    height: 100%;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    img {
      .border-radius(200px);
    }
  }
  .description {
    font-size: 14px;
    text-align: left;
    letter-spacing: 1px;
  }
}

// --------------------------------------------------
// -- post list container ---------------------------
ul.post-list-container {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
  li {
    padding: 10px 20px 10px 20px;
    span {
      display: block;
    }
    a {
      font-family: 'Raleway', @sansFontFamily;
      font-weight: 400;
      font-size: 24px;
      color: #111;
      text-decoration: none;
    }
  }
}

// --------------------------------------------------
// -- post container --------------------------------
.post-container {
  .clearfix;
  text-align: left;
  padding: 10px 20px 10px 20px;
  h1 {
    font-family: 'Raleway', @sansFontFamily;
    font-weight: 400;
    line-height: 40px;
  }
  blockquote {
    font-style: italic;
    font-size: 120%;
    color: lighten(@textcolor, 20%);
    p { margin-bottom: 10px; }
    p + p { text-indent: 0px; }
  }
  hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
  }
  p {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 18px;
  }
  p + p {
    text-indent: 2em;
  }
}

// --------------------------------------------------
// -- socian container ------------------------------
.social-container {
  .clearfix;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  text-align: left;
  font-family: 'Raleway', @sansFontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 1px;
  a.icons {
    .clearfix;
    width: 30%;
    float: left;
    color: #111;
    text-decoration: none;
    margin-bottom: 20px;
    .js-icon {
      float: left;
      font-size: 30px;
    }
    span {
      display: block;
      margin-bottom: 5px;
    }
    span.link {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 200;
    }
  }
}

// --------------------------------------------------
// -- footer container ------------------------------
.footer-container {
  padding: 10px 20px 10px 20px;
  text-align: left;
  font-size: 14px;
  span { display: block; }
}

// --------------------------------------------------
// -- settings for 480px screen ---------------------
@media only screen and (min-width: 480px) {
  
}

// --------------------------------------------------
// -- settings for 600px screen ---------------------
@media only screen and (min-width: 600px) {
  .page-container {
    .clearfix;
    .header-container {
      #menuBtn {
        display: none;
        visibility: hidden;
      }
      #openSideNavi {
        display: inline;
        visibility: visible;
      }
      .logo { margin-left: 35px; }
    }
    .content-container {
      margin: auto;
      padding: 40px 80px 10px 80px;
      .post-container {
        p {
          font-size: 1.35em;
          line-height: 1.6em;
        }
      }
    }
    .menu-icon {
      display: block;
      width: 80px;
      float: left;
      margin-top: 40px;
      margin-left: 10px;
      #side-menu {
        font-size: 25px;
        color: @textcolor;
      }
    }
  }
  .info-container {
    .description {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .side-navigation-container {
    background-color: #fff;
    width: 40%;
    height: 100%;
    z-index: 200;
    position: fixed;
    top: 0px;
    left: -40%;
    a {
      .raleway_font;
      color: @grayLighter;
      letter-spacing: 1px;
      &:hover {
        text-decoration: none;
        color: @white;
      }
    }
    .logo-container {
      background-color: #111;
      padding: 10px 20px 10px 20px;
      text-align: right;
      font-size: 18px;
      .clearfix;
      .logo { 
        font-size: 18px;
        display: block;
        width: 85%;
        float: right;
      }
      .menu-icon-btn { padding-left: 3px; float: right; }
    }
    ul.side-navigation {
      background-color: #222;
      text-align: right;
      list-style: none;
      padding: 0px;
      margin: 0px;
      li{
        // border-bottom: 1px solid #333;
        a {
          display: block;
          padding: 15px 50px 15px 25px;
        }
      }
    }
  }
}

// 768px
@media only screen and (min-width: 768px) { }


// 992px
@media only screen and (min-width: 992px) { }

// 1382px
@media only screen and (min-width: 1382px) { }
