
    <!-- footer container start -->
    <div class="footer-container">
      <div class="page-container">
        <span>Copyright &copy; 2010 - 2013 jShamsul.com. All Rights Reserved.</span>
      </div>
    </div><!-- footer container ends-->

    <!-- google analytics start -->
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26351347-1']);
  _gaq.push(['_setDomainName', 'jshamsul.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <!-- google analytics ends -->
