
  <!-- navigation container start -->
  <div class="header-container">
    <div class="logo-container">
      <a href="#" class="button-left" id="menuBtn"><i class="js-icon-menu"></i></a>
      <a href="#" class="button-left" id="openSideNavi"><i class="js-icon-menu"></i></a>
      <a href="/" class="logo"><span class="bold">jS</span>hamsul.com</a>
      <a href="#" class="button-right" id="exportBtn"><i class="js-icon-export"></i></a>
    </div>
    <ul class="navigation" id="naviList">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div><!-- navigation container ends -->
