
  <!-- share post container start -->
  <div class="share-container">
    <p class="share">
      Did you enjoy this post? Share it with others <a href="https://twitter.com/share" class="twitter-share-button" data-via="jibone">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    <p class="comments">Have comments on this post or want to discuss further?
      Hit me up on Twitter and let me know your thoughts <a href="https://twitter.com/jibone" class="twitter-follow-button" data-show-count="false">Follow @jibone</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
  </div><!-- share post container ends -->
