
  <!-- side navigation container start -->
  <div class="side-navigation-container" id="sideNavigation">
    <div class="logo-container">
      <a href="/" class="logo"><span class="bold">jS</span>hamsul.com</a>
      <a href="#" class="menu-icon-btn" id="closeSideNavi"><i class="js-icon-menu"></i></a>
    </div>

    <ul class="side-navigation">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Archive</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div><!-- side navigation container ends -->
