
  <!-- social container start -->
  <div class="social-container">
    <a href="http://twitter.com/jibone" class="icons twitter">
      <i class="js-icon-twitter js-icon"></i>
    </a>
    <a href="http://facebook.com/jshamsul" class="icons facebook js-icon-facebook-squared js-icon">
      <i class="js-icon-facebook-squared js-icon"></i>
    </a>
    <a href="" class="icons google">
      <i class="js-icon-gplus js-icon"></i>
  </a>
    <a href="http://jibone.tumbler.com" class="icons tumblr">
      <i class="js-icon-tumblr js-icon"></i>
    </a>
    <a href="http://flickr.com/jibone" class="icons flickr">
      <i class="js-icon-flickr js-icon"></i>
    </a>
    <a href="http://github.com/jibone" class="icons github">
      <i class="js-icon-github js-icon"></i>
    </a>
    <span class="stretch"></span>
  </div><!-- social container ends -->
