
  <!-- social container start -->
  <div class="social-container">
    <a href="http://twitter.com/jibone" class="icons twitter">
      <i class="js-icon-twitter js-icon"></i>
      <span class="text">Twitter</span>
      <span class="link">Follow</span>
    </a>
    <a href="http://facebook.com/jshamsul" class="icons facebook">
      <i class="js-icon-facebook js-icon"></i>
      <span class="text">Facebook</span>
      <span class="link">Friend</span>
    </a>
    <a href="" class="icons google">
      <i class="js-icon-gplus js-icon"></i>
      <span class="text">Google+</span>
      <span class="link">Connect</span>
    </a>
    <a href="http://jibone.tumbler.com" class="icons tumblr">
      <i class="js-icon-tumblr js-icon"></i>
      <span class="text">Tumblr</span>
      <span class="link">Reblog</span>
    </a>
    <a href="http://flickr.com/jibone" class="icons flickr">
      <i class="js-icon-flickr js-icon"></i>
      <span class="text">Flickr</span>
      <span class="link">Photos</span>
    </a>
    <a href="http://github.com/jibone" class="icons github">
      <i class="js-icon-github js-icon"></i>
      <span class="text">Github</span>
      <span class="link">Code</span>
    </a>
  </div><!-- social container ends -->
