/*
 *  Specific styles for 992 screen size
 */
html, body {
  font-size: 18px;
}
.page-container {
  overflow: hidden;
}


// ---------------------------------------------------------
// -- content styles ---------------------------------------
.content-panel {
  .page-container {
    .content {
      width: 75%;
      float: left;
      p {
        padding: 0px 0px 0px 5px;
      }
      p.title {
        margin: 0px;
        padding-top: 10px;
        padding-left: 5px;
      }
    }
    .aside {
      width: 20%;
      float: right;
      font-size: 0.65em;
      padding-top: 10px;
      text-align: left;
      p {
        padding: 0px 10px 0px 0px;
      }
      .twitter-aside {
        padding-top: 5px;
        p {
          span {
            display: block;
            margin-bottom: 7px;
          }
        }
      }
    }
    .aside-blog-post {
      padding-top: 30px;
      p {
        span {
          display: block;
          margin-bottom: 7px;
        }
      }
    }
  }
}
.archive-list-container {
  padding-bottom: 50px;
  .page-container {
    .content-archive {
      overflow: hidden;
      p.year {
        padding: 0px;
        margin: 0px;
        text-align: left;
        font-size: 2.3em;
        width: 16%;
        float: left;
      }
      ul.archive {
        width: 75%;
        float: left;
      }
    }
  }
}

