@import "compass/reset";
@import "_variables";

// ---------------------------------------------------------
// -- layout styles ----------------------------------------
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

// ---------------------------------------------------------
// -- header styles ----------------------------------------
.header-container {
  background-color: $light;
  text-align: center;
  .title {
    font-family: $font_sans;
    font-size: 40px;
    font-weight: 700;
    color: $dark;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .lead {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 2;
    color: lighten($dark, 20%);
    padding-bottom: 50px;
    strong {
      font-weight: bold;
    }
  }
}
